@model AdvancedProgramming_Lesson1.Models.Alcohols

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1>

<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <h4>Alkohole</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfAlcohol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfAlcohol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentageOfAlcoholContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentageOfAlcoholContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfSugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfSugar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfManufacture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfManufacture)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">powrót do listy</a>
    </form>
</div>
