@model AdvancedProgramming_Lesson1.Models.LiteraryGenres

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły rekordu</h1>

<div>
    <h4>Gatunki literackie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfOriginOfTheGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfOriginOfTheGenre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheMainMotifsInTheGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheMainMotifsInTheGenre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PopularityOfTheGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PopularityOfTheGenre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheNumberOfBooksInAGivenGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheNumberOfBooksInAGivenGenre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
